<section class="seccion">

  <div class="titulo titulo-responsive">
    <h3>Perfil</h3>
  </div>
  <div class="configuraciones configuraciones-responsive">
    <div class="contenedor contenedor-responsive">
      <div class="izq izq-responsive">
        <img class="img img-responsive" src="../../assets/Iconos/email.png" />
        <p>EMAIL</p>
      </div>
      <div class="der der-responsive">
        <a class="flecha flecha-responsive" href="/"><img class="fl" src="../../assets/Iconos/flecha-correcta.png"></a>
      </div>
    </div>
    <div class="contenedor contenedor-responsive">
      <div class="izq izq-responsive">
        <img class="img img-responsive" src="../../assets/Iconos/user.png" />
        <p>USUARIO</p>
      </div>
      <div class="der der-responsive">
        <a class="flecha flecha-responsive" href="/"><img class="fl" src="../../assets/Iconos/flecha-correcta.png"></a>
      </div>
    </div>
    <div class="contenedor contenedor-responsive">
      <div class="izq izq-responsive">
        <img class="img img-responsive" src="../../assets/Iconos/key.png" />
        <p>CLAVE</p>
      </div>
      <div class="der der-responsive">
        <a class="flecha flecha-responsive" href="/"><img class="fl" src="../../assets/Iconos/flecha-correcta.png"></a>
      </div>
    </div>
    <div class="contenedor contenedor-responsive">
      <div class="izq izq-responsive">
        <img class="img img-responsive" src="../../assets/Iconos/location_icon_176656 (1).png" />
        <p>DOMICILIO</p>
      </div>
      <div class="der der-responsive">
        <a class="flecha flecha-responsive" href="/"><img class="fl" src="../../assets/Iconos/flecha-correcta.png"></a>
      </div>
    </div>
  </div>

</section>
