@media screen and (min-width: 300px) and (max-width: 479px){
  .contenedor-marcas {
    width: 100%;
    margin-bottom: 1rem;
  }

  .marc {
    width: 8%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marcas {
    width: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marca {
    width: 85%;
    margin-bottom: 10px;
  }

    .marca > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  .contenedor-media {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

    .contenedor-media ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }

    .contenedor-media li {
      width: 100%;
      list-style: none;
    }

    .contenedor-media img {
      width: 100%;
    }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  .titulo {
    color: indigo;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  .contenedornosotros {
    padding: 20px 15px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
  }

    .contenedornosotros p {
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
      font-size: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 899px){
  .contenedor-marcas {
    width: 100%;
    margin-bottom: 1rem;
  }

  .marc {
    width: 8%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marcas {
    width: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marca {
    width: 85%;
    margin-bottom: 10px;
  }

    .marca > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  .contenedor-media {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

    .contenedor-media ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }

    .contenedor-media li {
      width: 100%;
      list-style: none;
    }

    .contenedor-media img {
      width: 100%;
    }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  .titulo {
    color: indigo;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  .contenedornosotros {
    padding: 20px 15px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
  }

    .contenedornosotros p {
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
      font-size: 16px;
    }
}

@media screen and (min-width: 900px) and (max-width: 999px){
  .contenedor-marcas {
    width: 100%;
    margin-bottom: 1rem;
  }

  .marc {
    width: 8%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marcas {
    width: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marca {
    width: 85%;
    margin-bottom: 10px;
  }

    .marca > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  .contenedor-media {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 500px;
  }

    .contenedor-media ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }

    .contenedor-media li {
      width: 100%;
      list-style: none;
    }

    .contenedor-media img {
      width: 100%;
    }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  .titulo {
    color: indigo;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  .contenedornosotros {
    padding: 20px 15px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
  }

    .contenedornosotros p {
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
      font-size: 16px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {

  .contenedor-marcas {
    width: 100%;
    margin-bottom: 1rem;
  }

  .marc {
    width: 8%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marcas {
    width: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marca {
    width: 85%;
    margin-bottom: 10px;
  }

    .marca > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  .contenedor-media {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 550px;
  }

    .contenedor-media ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }

    .contenedor-media li {
      width: 100%;
      list-style: none;
    }

    .contenedor-media img {
      width: 100%;
    }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  .titulo {
    color: indigo;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  .contenedornosotros {
    padding: 20px 15px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
  }

    .contenedornosotros p {
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
      font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
  .contenedor-marcas {
    width: 100%;
    margin-bottom: 1rem;
  }

  .marc {
    width: 8%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marcas {
    width: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .marca {
    width: 85%;
    margin-bottom: 10px;
  }

    .marca > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  .contenedor-media {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 550px;
  }

    .contenedor-media ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: cambio 20s infinite alternate linear;
    }

    .contenedor-media li {
      width: 100%;
      list-style: none;
    }

    .contenedor-media img {
      width: 100%;
      object-fit: cover;
    }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }

  .titulo {
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    color: indigo;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
  }

  .contenedornosotros {
    padding: 20px 15px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
  }

    .contenedornosotros p {
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
      padding: 0px 0px 30px 15px;
      font-weight: 300;
      text-align: justify;
      font-size: 16px;
    }
}
