
<main>

  <section class="Contenedormarcas Contenedormarcas-responsive">
    <div class="contenedor-marcas contenedor-marcas-responsive">
      <div class="marcas marcas-responsive">

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/galfer-logo.png" alt="Galfer" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/namura.png" alt="Namura" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/DUNLOP.png" alt="Dunlop" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/vertex-pistons-logo-AEB40679E4-seeklogo.com.png" alt="Vertex" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/Multi_Air_Logo_FF_C PNG.png" alt="Multi air" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/hotrods.png" alt="Hotrods" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/logo_allballs.png" alt="Allballs" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/BoltLogo-220_6793a6c6-8d60-4109-a111-cb7e93562000_450x.png" alt="Bolt" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/vortex-logo-png-transparent.png" alt="Vortex" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/MITAS 2.png" alt="Mitas" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/BRONCO.png" alt="Bronco" />
          </div>
        </div>

        <div class="marc marc-responsive">
          <div class="marca marca-responsive" href="">
            <img src="../../assets/Marcas/psychic-001.png" alt="psychic" />
          </div>
        </div>
      </div>
    </div>
  </section>




  <div class="contenedor-media contenedor-media-responsive">
    <ul>
      <li>
        <img src="../../assets/Banners/moto 1.jpg" alt="">
      </li>
      <li>
        <img src="../../assets/Banners/moto 2.jpg" alt="">
      </li>
      <li>
        <img src="../../assets/Banners/moto 1.jpg" alt="">
      </li>
      <li>
        <img src="../../assets/Banners/moto 2.jpg" alt="">
      </li>
    </ul>
  </div>





  <section class="contenedornosotros contenedornosotros-responsive">
    <h2 class="titulo titulo-responsive">Nosotros</h2>
    <p>
      Fundado en 1992. en Guadalajara, Jalisco. TEAM MOTOTEC se especializa en la comercialización de repuestos de alta gama para tu motocicleta.
      <br> Somos distribuidores nacionales exclusivos de marcas líderes mundiales y nos distinguimos por una atención amable y profesional, estando comprometidos en superar las normas de calidad en el mercado del motociclismo.
    </p>
  </section>

</main>




