<!DOCTYPE html>
<html lang="es">
<body>

  <main>

      <div class="contenedor-media">
        <ul>
          <li>
            <img src="../../assets/Banners/moto 1.jpg" alt="">
          </li>
          <li>
            <img src="../../assets/Banners/moto 2.jpg" alt="">
          </li>
          <li>
            <img src="../../assets/Banners/moto 1.jpg" alt="">
          </li>
          <li>
            <img src="../../assets/Banners/moto 2.jpg" alt="">
          </li>
        </ul>
      </div>

    <section class="contenedornosotros">
      <h2 class="titulo">Nosotros</h2>
      <p>Fundado en 1992. en Guadalajara, Jalisco. TEAM MOTOTEC se especializa en la comercialización de repuestos de alta gama para tu motocicleta.
        <br> Somos distribuidores nacionales exclusivos de marcas líderes mundiales y nos distinguimos por una atención amable y profesional, estando comprometidos en superar las normas de calidad en el mercado del motociclismo.
      </p>
    </section>

    <section class="contenedormision">
      <h2 class="titulo">Misión</h2>
      <div class="contenedor-mision">
        <img src="../../assets/misión.png" alt="" class="imagen-mision" />
        <div class="texto-mision">
          <p>Nam et congue neque. Quisque accumsan auctor euismod. Morbi ullamcorper ligula sed vulputate fringilla. Aliquam dignissim sem quam, vel accumsan felis sodales sed. Suspendisse laoreet massa ante, sed lacinia massa pretium ac. Quisque lacinia lacus quis magna dapibus, sit amet malesuada nibh posuere. Praesent id interdum metus. Phasellus venenatis porta dignissim. Nam auctor eget turpis nec dictum. Aenean porttitor velit tellus, non dapibus massa mollis quis. Pellentesque ac elit ante. Etiam aliquam, enim sed ornare vestibulum, ante sapien ullamcorper massa, molestie facilisis urna magna eget nibh. Integer sit amet nunc non libero suscipit mattis.</p>
        </div>
      </div>
    </section>

    <section class="contenedorvision">
      <h2 class="titulo">Visión</h2>
      <div class="contenedor-vision">
        <div class="texto-vision">
          <p>Quisque accumsan auctor euismod. Morbi ullamcorper ligula sed vulputate fringilla. Aliquam dignissim sem quam, vel accumsan felis sodales sed. Suspendisse laoreet massa ante, sed lacinia massa pretium ac. Quisque lacinia lacus quis magna dapibus, sit amet malesuada nibh posuere. Praesent id interdum metus. Phasellus venenatis porta dignissim. Nam auctor eget turpis nec dictum. Aenean porttitor velit tellus, non dapibus massa mollis quis. Pellentesque ac elit ante. Etiam aliquam, enim sed ornare vestibulum, ante sapien ullamcorper massa, molestie facilisis urna magna eget nibh. Integer sit amet nunc non libero suscipit mattis.</p>
        </div>
        <img src="../../assets/visión.jpg" alt="" class="imagen-vision" />
      </div>
    </section>

    <section class="Contenedormarcas">
      <div class="contenedor-marcas">
        <h2 class="titulo">Marcas</h2>
        <div class="marcas">

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
                <img src="../../assets/Marcas/BoltLogo-220_6793a6c6-8d60-4109-a111-cb7e93562000_450x.png" alt="Bolt" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/BRONCO.jpg" alt="Bronco" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/DUNLOP.png" alt="Dunlop" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/galfer-logo.png" alt="Galfer" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/hot cams.png" alt="Hot Cams" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/hotrods.png" alt="Hotrods" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/Logo@2x.png" alt="2x" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/logo_allballs.png" alt="Allballs" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/MITAS 2.png" alt="Mitas" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/Multi_Air_Logo_FF_C PNG.png" alt="Multi air" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/namura.png" alt="Namura" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/psychic-001.png" alt="psychic" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/vertex-pistons-logo-AEB40679E4-seeklogo.com.png" alt="Vertex" />
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="marca" href="">
              <img src="../../assets/Marcas/vortex-logo-png-transparent.png" alt="Vortex" />
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
</body>
</html>
