<section class="productosp productosp-responsive">
  <h4>Busca lo que necesitas</h4>
  <div class="buscador buscador-responsive">
    <label for="tiposvehiculos">Tipo de vehículo</label>
    <select id="tiposvehiculos" name="tiposvehiculos">
      <option value="scooter">Scooter</option>
      <option value="offroad">Off-Road</option>
      <option value="Street">Street</option>
      <option value="sportandgp">Sport & GP</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="marca">Marca</label>
    <select id="marca" name="marca">
      <option value="yamaha">Yamaha</option>
      <option value="honda">Honda</option>
      <option value="kawazaki">Kawasaki</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="modelo">Modelo</label>
    <select id="modelo" name="modelo">
      <option value="c125abs">C 125 ABS</option>
      <option value="c70">C 70</option>
      <option value="cb1000">CB 1000</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="año">Año</label>
    <select id="año" name="año">
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
    </select>
  </div>


  <div class="productos productos-responsive">
    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>


    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgcategoria-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="producto producto-responsive">
      <h5>Disco de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/producto"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
    </div>


  </div>


</section>
