<section class="productosp productosp-responsive">
  <h4>Busca lo que necesitas</h4>
  <div class="buscador buscador-responsive">
    <label for="tiposvehiculos">Tipo de vehículo</label>
    <select id="tiposvehiculos" name="tiposvehiculos" (change)="filterProductos($event.srcElement.value, 'idVehiculoText')">
      <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.nombreDeVehiculo">{{vehiculo.nombreDeVehiculo}}</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="marca">Marca</label>
    <select id="marca" name="marca" (change)="filterProductos($event.srcElement.value, 'idMarcaText')">
      <option *ngFor="let marca of marcas" [value]="marca.nombreDeMarca">{{marca.nombreDeMarca}}</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="modelo">Modelo</label>
    <select id="modelo" name="modelo" (change)="filterProductos($event.srcElement.value, 'idModeloText')">
      <option *ngFor="let modelo of modelos" [value]="modelo.nombreDeModelo">{{modelo.nombreDeModelo}}</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <label for="año">Año</label>
    <select id="año" name="año" (change)="filterProductos($event.srcElement.value, 'idAnoText')">
      <option *ngFor="let ano of anos" [value]="ano.nombreDeAno">{{ano.nombreDeAno}}</option>
    </select>
  </div>

  <div class="buscador buscador-responsive">
    <button (click)="limpiarfiltros()">Borrar Filtros</button>
  </div>


  <div class="productos productos-responsive">
    <div class="producto producto-responsive" *ngFor="let producto of productos">
      <h5>{{producto.nombreDeProducto}}</h5>
      <a *ngIf="producto.idImagen == null" class="imgcategoria imgcategoria-responsive" [routerLink]="['/producto', producto.idProducto]"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
      <a *ngIf="producto.idImagen != null" class="imgcategoria imgcategoria-responsive" [routerLink]="['/producto', producto.idProducto]"><img class="imgprod imgprod-responsive" [src]="producto.idImagen"></a>
    </div>
  </div>


</section>
