<h3>Compra 13042021001 - 13/04/2021</h3>
<section class="seccion seccion-responsive">

  <div class="izq izq-responsive">
    <table class="datos datos-responsive">
      <tr>
        <th>Número de rastreo:</th>
        <td>010000000035</td>
      </tr>
      <tr>
        <th>Estado de pedido:</th>
        <td>En camino</td>
      </tr>
      <tr>
        <th>Método de pago:</th>
        <td>Paypal</td>
      </tr>
      <tr>
        <th>Empresa de transporte:</th>
        <td>DHL</td>
      </tr>
    </table>
  </div>

  <div class="der der-responsive">
    <div class="inforesumen inforesumen-responsive">
      <div class="resumencompra resumencompra-responsive">
        <h5>Resumen de compra</h5>
      </div>
      <div class="montos montos-responsive">
        <table>
          <tr>
            <td>Productos (3)</td>
            <td>$900.00</td>
          </tr>
          <tr>
            <td>Envío</td>
            <td>$100.00</td>
          </tr>
        </table>
      </div>
      <div class="total total-responsive">
        <div class="tot tot-responsive">
          <p>Total</p>
          <p>$1,000.00</p>
        </div>
        <div class="boton boton-responsive">
          <a href="#" class="confpedido confpedido-responsive">Pedido Recibido</a>
        </div>
      </div>
    </div>
  </div>

</section>
