<h3>Compra {{productos.idHistorial}} - {{productos.fechaDeCreacion | date: 'dd/MM/yyyy'}}</h3>
<section class="seccion seccion-responsive">

  <div class="izq izq-responsive">
    <table class="datos datos-responsive">
      <tr>
        <th>Estado de pedido:  </th>
        <td>  {{productos.status}}</td>
      </tr>
      <tr>
        <th>Método de pago:  </th>
        <td>  {{productos.clabe}}</td>
      </tr>
    </table>
  </div>

  <div class="der der-responsive">
    <div class="inforesumen inforesumen-responsive">
      <div class="total total-responsive">
        <div class="boton boton-responsive">
          <a class="confpedido confpedido-responsive" (click)="recibido()">Pedido Recibido</a>
        </div>
      </div>
    </div>
  </div>

  <div class="producto producto-responsive" [hidden]="prod.nombreDeCarrito !== idHistorial" *ngFor="let prod of carrito">
    <div class="ap">
      <img *ngIf="prod.imageUrl === null" src="../../assets/productos/disco de freno.jpg" class="prod prod-responsive" />
      <img *ngIf="prod.imageUrl !== null" [src]="prod.imageUrl" class="prod prod-responsive" />
    </div>
    <div class="ap">
      <p class="precio precio-responsive">Precio:   ${{prod.subtotal}}</p>
    </div>
    <div class="ap">
      <p class="precio precio-responsive">Cantidad:   {{prod.cantidad}}</p>
    </div>
  </div>

</section>
