@media screen and (min-width: 300px) and (max-width: 479px){
  .contenedorcarrito {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .titulo {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
    font-size: 20px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .filaproducto {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 15px;
    width: 100%;
  }

  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

  .producto {
    width: 85%;
    border: 2px solid black;
    margin: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .img {
    width: 15%;
    align-items: center;
  }

  .imagen-producto {
    width: 50px;
  }


  .nombreprod {
    width: 30%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

    .nombreprod p {
      display: none;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

    .nombreprod h4 {
      font-size: 2.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

  .verproducto {
    width: 35%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .verproducto p {
      font-size: 1.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

    .verproducto input {
      width: 80%;
      height: 25px;
      align-self: center;
    }

  .verprod {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    background-color: #c123de;
    border-radius: 6px;
    border: 1px solid #a511c0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9b14b3;
  }

    .verprod:hover {
      background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
      background-color: #a20dbd;
    }

    .verprod:active {
      position: relative;
      top: 1px;
    }


  .precio-eliminar {
    width: 20%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .precio-eliminar h4 {
      font-size: 2.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

  .elim {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    padding: 2px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
  }

    .elim:hover {
      background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color: #c62d1f;
    }

    .elim:active {
      position: relative;
      top: 1px;
    }

  .comprar {
    padding-right: 10rem;
  }

  .comp {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
  }

    .comp:hover {
      background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color: #77a809;
    }

    .comp:active {
      position: relative;
      top: 1px;
    }

  .totalcomprar {
    padding-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .total {
    padding-right: 10rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
}

@media screen and (min-width: 480px) and (max-width: 799px) {
  .contenedorcarrito {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .titulo {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 35px;
    font-size: 20px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .filaproducto {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 15px;
    width: 100%;
  }


  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

  .producto {
    width: 85%;
    border: 2px solid black;
    margin: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .img {
    width: 15%;
    align-items: center;
  }

  .imagen-producto {
    width: 100px;
  }


  .nombreprod {
    width: 30%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

    .nombreprod p {
      display: none;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

    .nombreprod h4 {
      font-size: 2.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

  .verproducto {
    width: 35%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .verproducto p {
      font-size: 1.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

    .verproducto input {
      width: 80%;
      height: 25px;
      align-self: center;
    }

  .verprod {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    background-color: #c123de;
    border-radius: 6px;
    border: 1px solid #a511c0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9b14b3;
  }

    .verprod:hover {
      background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
      background-color: #a20dbd;
    }

    .verprod:active {
      position: relative;
      top: 1px;
    }


  .precio-eliminar {
    width: 20%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .precio-eliminar h4 {
      font-size: 2.5vw;
    }

  .elim {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    padding: 2px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
  }

    .elim:hover {
      background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color: #c62d1f;
    }

    .elim:active {
      position: relative;
      top: 1px;
    }

  .comprar {
    padding-right: 10rem;
  }

  .comp {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
  }

    .comp:hover {
      background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color: #77a809;
    }

    .comp:active {
      position: relative;
      top: 1px;
    }

  .totalcomprar {
    padding-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .total {
    padding-right: 10rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .contenedorcarrito {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .titulo {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 70px;
    font-size: 20px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .filaproducto {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 15px;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

  .producto {
    width: 90%;
    border: 2px solid black;
    margin: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .img {
    width: 10%;
    align-items: center;
  }

  .imagen-producto {
    width: 100px;
  }


  .nombreprod {
    width: 30%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

    .nombreprod p {
      font-size: 1.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

    .nombreprod h4 {
      font-size: 2.5vw;
    }

  .verproducto {
    width: 30%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
    .verproducto p {
      font-size: 1.5vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }
      .verproducto input {
      width: 80%;
      align-self: center;
      }

  .verprod {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    background-color: #c123de;
    border-radius: 6px;
    border: 1px solid #a511c0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9b14b3;
  }
    .verprod:hover {
      background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
      background-color: #a20dbd;
    }
    .verprod:active {
      position: relative;
      top: 1px;
    }


  .precio-eliminar {
    width: 20%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .precio-eliminar h4{
      font-size: 2.5vw;
  }

  .elim {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    
  }
    .elim:hover {
      background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color: #c62d1f;
    }
    .elim:active {
      position: relative;
      top: 1px;
    }

  .comprar {
    padding-right: 10rem;
  }

  .comp {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
  }

    .comp:hover {
      background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color: #77a809;
    }

    .comp:active {
      position: relative;
      top: 1px;
    }

  .totalcomprar {
    padding-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .total {
    padding-right: 10rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .contenedorcarrito {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .titulo {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    font-size: 30px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .filaproducto {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 15px;
  }


  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

  .producto {
    width: 90%;
    border: 2px solid black;
    margin: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .img {
    width: 10%;
    align-items: center;
  }

  .imagen-producto {
    width: 150px;
  }


  .nombreprod {
    width: 30%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
    .nombreprod p {
      font-size: 1.3vw;
      Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    }

  .verproducto {
    width: 30%;
  }

  .verprod {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    background-color: #c123de;
    border-radius: 6px;
    border: 1px solid #a511c0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1vw;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9b14b3;
  }

    .verprod:hover {
      background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
      background-color: #a20dbd;
    }

    .verprod:active {
      position: relative;
      top: 1px;
    }


  .eliminar {
    width: 20%;
  }

  .elim {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
  }

    .elim:hover {
      background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color: #c62d1f;
    }

    .elim:active {
      position: relative;
      top: 1px;
    }

  .comprar {
    padding-right: 10rem;
  }

  .comp {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .comp:hover {
      background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color: #77a809;
    }

    .comp:active {
      position: relative;
      top: 1px;
    }

  .totalcomprar {
    padding-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .total {
    padding-right: 10rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
}

@media screen and (min-width: 1200px) {
  .contenedorcarrito {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 50px;
  }

  .titulo {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
    font-size: 30px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .filaproducto {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 15px;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }


  .producto {
    width: 90%;
    border: 2px solid black;
    padding: 30px;
    margin: 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .img {
    width: 20%;
    align-items: center;
  }

  .imagen-producto {
    width: 150px;
  }


  .nombreprod {
    width: 40%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }


  .verproducto {
    width: 20%;
  }

  .verprod {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    background-color: #c123de;
    border-radius: 6px;
    border: 1px solid #a511c0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9b14b3;
  }

    .verprod:hover {
      background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
      background-color: #a20dbd;
    }

    .verprod:active {
      position: relative;
      top: 1px;
    }


  .eliminar {
    width: 20%;
  }

  .elim {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
  }

    .elim:hover {
      background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
      background-color: #c62d1f;
    }

    .elim:active {
      position: relative;
      top: 1px;
    }

    .comprar{
        padding-right: 10rem;
    }

  .comp {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
  }

    .comp:hover {
      background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
      background-color: #77a809;
    }

    .comp:active {
      position: relative;
      top: 1px;
    }

  .totalcomprar {
    padding-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .total {
    padding-right: 10rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }
}
