<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0" />
</head>

<section class="contenedorcarrito contenedorcarrito-responsive">
  <h2 class="titulo titulo-responsive">Carrito</h2>

  <div class="filaproducto filaproducto-responsive" *ngFor="let producto of productos" [hidden]="!producto.activo">
    <div class="producto producto-responsive">
      <div class="img img-responsive">
        <img *ngIf="producto.imageUrl === null" src="../../assets/productos/disco de freno.jpg" alt="" class="imagen-producto" />
        <img *ngIf="producto.imageUrl !== null" [src]="producto.imageUrl" alt="" class="imagen-producto" />
      </div>
      <div class="nombreprod nombreprod-responsive">
        <h4>{{producto.nombreDeCarrito}}</h4>
        <p>{{producto.descripcion}}</p>
      </div>
      <div class="verproducto verproducto-responsive">
        <input type="number"
               [placeholder]="producto.cantidad" (change)="cambio($event.srcElement.value, producto)"/>
        <p>Disponibles: {{producto.stock}}</p>
      </div>
      <div class="precio-eliminar precio-eliminar-responsive">
        <h4>{{producto.total}}</h4>
        <a class="elim elim-responsive" (click)="eliminar(producto.idCarrito)">Eliminar</a>
      </div>
    </div>
  </div>

  <div class="totalcomprar totalcomprar-responsive">
    <div class="total total-responsive">
      <h4>TOTAL ${{totalCarrito}}</h4>
    </div>
    <div class="comprar comprar-responsive">
      <a class="comp comp-responsive" (click)="comprar()">Comprar</a>
    </div>
  </div>
</section>
