<section class="contenedorhistorial contenedorhistorial-responsive">
  <h2 class="titulo titulo-responsive">Historial</h2>

  <div class="producto producto-responsive" *ngFor="let producto of productos" [hidden]="!producto.activo">
    <div class="fecha flecha-responsive">
      <p>{{producto.status}}</p>
    </div>
    <div class="fecha flecha-responsive">
      <p>{{producto.fechaDeCreacion | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="verproducto verproducto-responsive">
      <a class="verprod verprod-responsive"(click)="historialId(producto.idHistorial)">Ver detalles</a>
    </div>
  </div>
</section>
