<section class="productos productos-responsive">
  <h2 class="titulo titulo-responsive">Categorias</h2>
  <div class="categorias categorias-responsive">
    <div class="categoria categoria-responsive">
      <h5>LLantas</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="categoria categoria-responsive">
      <h5>Kits de pistón</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="categoria categoria-responsive">
      <h5>Cadenas</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="categoria categoria-responsive">
      <h5>Discos de freno</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="categoria categoria-responsive">
      <h5>Pastillas para frenos</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>

    <div class="categoria categoria-responsive">
      <h5>Accesorios</h5>
      <a class="imgcategoria imgcategoria-responsive" href="/inicio"><img class="imgcate" src="../../assets/productos/disco de freno.jpg"></a>
    </div>
  </div>


</section>
