* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorterminos {
  padding: 60px 0;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

  .contenedorterminos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
  }

.titulo {
  color: indigo;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.contenedorterminos {
  padding-bottom: 50px;
}
