#Buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 24px;
  width: 200px;
  border: transparent;
  border-bottom: solid 1px #000000;
  padding: 10px 10px 10px 30px;
  outline: none;
  color: black;
  background-color: white;
}
#Buscador::placeholder {
  color: black;
}

i {
  background-color: white;
  width: 35px;
  height: 19px;
  margin-top: 16px;
}

.modal-body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 95%;
}

.texto{
    width: 60%;
}

.image{
    width: 40%;
}

.prev{
    width: 50px;
}

.datos{
    width: 25%;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

body {
  background-color: #A82EA1;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  padding: 14px 4px;
  font-size: 25px;
  width: 20%;
}

.navlogo{
    width: 100%;
}

.navbar-search{
    width: 15%;
}

  .navbar-search input#search {
    width: 80%;
    height: 30px;
    background: #2b303b;
    border: none;
    font-size: 9pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 12rem;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

.navbar-collapse {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  padding: 14px 4px;
  font-size: 14px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {

  #Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 200px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    background-color: white;

  }
    #Buscador::placeholder {
      color: black;
    }



  .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

    html {
    font-size: 16px;
  }
  .navbar-search {
    width: 30%;
    padding-right: 3rem;
  }

  a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    padding: 14px 4px;
    font-size: 25px;
    width: 10%;
  }

  .navlogo {
    width: 100%;
  }

  .contenedor-media{

  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.navbar-collapse {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  padding: 14px 4px;
  font-size: 12px;
}

@media (max-width: 480px){
  .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

    html {
    font-size: 16px;
  }

  .navbar-search {
    width: 15%;
  }

  .navbar-brand {
    padding: 14px 4px;
    font-size: 1.5rem;
    width: 30%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .navbar-search input#search {
    width: 100%;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 12rem;
  }

  .navbar-collapse{
      width: 20%;
  }

  #Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 100px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
    background-color: white;
  }

    #Buscador::placeholder {
      color: black;
    }





  

}

.box-search {
  position: fixed;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  background: black;
  z-index: 8;
  overflow: hidden;
  display: block
}

li {
  align-self: center;
}

.nav-link {
  backface-visibility:
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  border-radius: .25rem;
}
