@media screen and (min-width: 300px) and (max-width: 479px){
  .seccion {
    padding: 15px 15px 15px 15px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  h3 {
    padding: 15px 15px 15px 15px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .left {
    width: 100%;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
  }

  .paypal {
    border-bottom: solid 2px black;
    padding: 15px;
    width: 100%;
  }

  .transferencia {
    padding: 15px;
    width: 100%;
  }

  .ch {
    font-size: 100px;
  }

  .right {
    margin-top: 1rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .inforesumen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .resumencompra {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    font-size: 14px;
    justify-content: center;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .montos {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    font-size: 13px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .montos table {
      width: 100%;
    }

  .total {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 13px;
  }

  .botoncontinuar {
    padding: 25px;
  }

  .botoncont {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    align-content: center;
  }

    .botoncont:hover {
      background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color: #68a54b;
    }

    .botoncont:active {
      position: relative;
      top: 1px;
    }

  input[type="radio"] {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);
    margin-right: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 799px) {

  .seccion {
    padding: 20px 20px 20px 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  h3 {
    padding: 20px 20px 20px 20px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .left {
    width: 100%;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 14px;
  }

  .paypal {
    border-bottom: solid 2px black;
    padding: 15px;
    width: 100%;
  }

  .transferencia {
    padding: 15px;
    width: 100%;
  }

  .ch {
    font-size: 100px;
  }

  .right {
    margin-top: 1rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .inforesumen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .resumencompra {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .montos {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .montos table {
      width: 100%;
    }

  .total {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .botoncontinuar {
    padding: 25px;
  }

  .botoncont {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    align-content: center;
  }

    .botoncont:hover {
      background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color: #68a54b;
    }

    .botoncont:active {
      position: relative;
      top: 1px;
    }

  input[type="radio"] {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);
    margin-right: 1rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {

  .seccion {
    padding: 20px 20px 20px 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  h3 {
    padding: 30px 30px 30px 30px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .left {
    width: 55%;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 14px;
  }

  .paypal {
    border-bottom: solid 2px black;
    padding: 15px;
    width: 100%;
  }

  .transferencia {
    padding: 15px;
    width: 100%;
  }

  .ch {
    font-size: 100px;
  }

  .right {
    width: 35%;
    border: 2px solid black;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .inforesumen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .resumencompra {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .montos {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .montos table {
      width: 100%;
    }

  .total {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .botoncontinuar {
    padding: 25px;
  }

  .botoncont {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    align-content: center;
  }

    .botoncont:hover {
      background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color: #68a54b;
    }

    .botoncont:active {
      position: relative;
      top: 1px;
    }

  input[type="radio"] {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {

  .seccion {
    padding: 30px 30px 30px 30px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  h3 {
    padding: 30px 30px 30px 30px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .left {
    width: 65%;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 15px;
  }

  .paypal {
    border-bottom: solid 2px black;
    padding: 15px;
    width: 100%;
  }

  .transferencia {
    padding: 15px;
    width: 100%;
  }

  .ch {
    font-size: 100px;
  }

  .right {
    width: 25%;
    border: 2px solid black;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .inforesumen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .resumencompra {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .montos {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .montos table {
      width: 100%;
    }

  .total {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .botoncontinuar {
    padding: 25px;
  }

  .botoncont {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    align-content: center;
  }

    .botoncont:hover {
      background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color: #68a54b;
    }

    .botoncont:active {
      position: relative;
      top: 1px;
    }

  input[type="radio"] {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    transform: scale(1.4);
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {

  .seccion {
    padding: 30px 30px 30px 30px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  h3 {
    padding: 30px 30px 30px 30px;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .left {
    width: 65%;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .paypal {
    border-bottom: solid 2px black;
    padding: 15px;
    width: 100%;
  }

  .transferencia {
    padding: 15px;
    width: 100%;
  }

  .ch {
    font-size: 100px;
  }

  .right {
    width: 25%;
    border: 2px solid black;
    border-radius: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .inforesumen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15px;
  }

  .resumencompra {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .montos {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

    .montos table {
      width: 100%;
    }

  .total {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  }

  .botoncontinuar {
    padding: 25px;
  }

  .botoncont {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    align-content: center;
  }

    .botoncont:hover {
      background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
      background-color: #68a54b;
    }

    .botoncont:active {
      position: relative;
      top: 1px;
    }

}
