
<h3>Elige método de pago</h3>
<section class="seccion seccion-responsive">


  <div class="left left-responsive">
    <div class="paypal paypal-responsive">
      <div class="pay">
        <h4 class="tipo">Paypal</h4>
      </div>
      <div class="der der-responsive">
        <div [hidden]="paidFor" #paypal></div>
      </div>
    </div>
    <div class="transferencia">
      <div class="pay">
        <h4 class="tipo">Transferencia</h4>
      </div>
      <div class="der der-responsive">
        <a class="myButton" data-toggle="modal" data-target="#Transferencia">SUBIR COMPROBANTE</a>
      </div>
    </div>
  </div>

  <div class="right right-responsive">
    <div class="inforesumen inforesumen-responsive">
      <div class="resumencompra resumencompra-responsive">
        <h5>Resumen de compra</h5>
      </div>
      <div class="montos montos-responsive">
        <table>
          <tr>
            <td>Productos</td>
            <td>${{subtotal}}</td>
          </tr>
          <tr>
            <td>Envío</td>
            <td>${{envioTotal}}</td>
          </tr>
        </table>
      </div>
      <div class="total total-responsive">
        <p>Total</p>
        <p>${{totalCarrito}}</p>
      </div>
    </div>
  </div>


</section>

<div class="botoncontinuar botoncontinuar-responsive">
  <a class="botoncont botoncont-responsive" (click)="historialId()">Continuar</a>
</div>

<div class="modal" id="Transferencia">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Depositar {{totalCarrito}} a la cuenta {{transferencia}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="guardarHistorial()">Save changes</button>
      </div>
    </div>
  </div>
</div>
