<div class="registro registro-responsive">
  <form class="custom-form custom-form-responsive" method="post">
    <h1>Registrarse</h1>
    <input type="email"
           name="email"
           placeholder="Correro"
           required="required"
           (change)="valueUpdate($event.srcElement.value, 'email')"/>
    <input type="password"
           name="password"
           placeholder="Contraseña"
           required="required"
           (change)="valueUpdate($event.srcElement.value, 'pass')" />
    <input type="text"
           name="name"
           placeholder="Nombre"
           required="required"
           (change)="valueUpdate($event.srcElement.value, 'nombre')" />
    <input type="text"
           name="lastname"
           placeholder="Apellido"
           required="required" 
           (change)="valueUpdate($event.srcElement.value, 'apellido')"/>
    <input type="text"
           name="username"
           placeholder="Nombre de usuario"
           required="required" 
           (change)="valueUpdate($event.srcElement.value, 'usuario')"/>
    <input type="text"
           name="phone"
           placeholder="Telefono"
           required="required" 
           (change)="valueUpdate($event.srcElement.value, 'phone')"/>
    <button type="submit" (click)="checkMail()">Registrarse</button>
  </form>
</div>
