<div class="registro registro-responsive">
  <form class="custom-form custom-form-responsive" method="post">
    <h1>Registrarse</h1>
    <input type="email"
           [(ngModel)]="email"
           name="email"
           placeholder="Correro"
           required="required" />
    <input type="password"
           [(ngModel)]="password"
           name="password"
           placeholder="Contraseña"
           required="required" />
    <input type="text"
           [(ngModel)]="text"
           name="name"
           placeholder="Nombre"
           required="required" />
    <input type="text"
           [(ngModel)]="text"
           name="lastname"
           placeholder="Apellido"
           required="required" />
    <input type="text"
           [(ngModel)]="text"
           name="username"
           placeholder="Nombre de usuario"
           required="required" />
    <input type="text"
           [(ngModel)]="number"
           name="phone"
           placeholder="Telefono"
           required="required" />
    <button type="submit" (click)="registrarse()">Registrarse</button>
  </form>
</div>
