
body {
  background: #ecf0f3;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

.custom-form {
  min-width: 300px;
  max-width: 40%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 1rem 1.5rem;
  margin: auto;
  border-radius: 2rem;
  background-color: #8f2b93;
  color: black;
  margin-top: 10rem;
  margin-bottom: 200px;
}
  .custom-form input {
    display: block;
    margin: 1rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: .5rem;
    border: none;
    border: 0 none;
    background: #ebf5fc;
    font-size: 12px;
  }

  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    font-size: 0.775rem;
    color: black;
    font-weight: bold;
    background-color: #4cff00;
    width: 100%;
    display: block;
    padding: 0.775rem .6rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
