<footer class="footer">
  <div class="contenedor-footer">
    <div class="row">
      <div class="content-foo">
        <h4>Team Mototec</h4>
        <ul>
          <li><a href="tel:+523338115213">Llamanos</a></li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/privacidad']">Política de privacidad</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/contacto']">Av. Cozumel #2970, Col. Jardines de la cruz, Guadalajara, Jal.</a>
          </li>
          <li><p>teammototec@yahoo.com</p></li>
        </ul>
      </div>
      <div class="content-foo">
        <h4>Estamos en contacto contigo</h4>
        <ul>
          <li><a class="logo-footer" href="/inicio"><img class="logo" src="../../assets/LOGO TEAMMOTOTEC.jpg"></a></li>
        </ul>

      </div>
      <div class="content-foo">
        <h4>Políticas y terminos</h4>
        <ul>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/privacidad']">Términos y condiciones</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/']">Políticas de devolución</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/']">Facturación</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/privacidad']">Términos y condiciones</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/privacidad']">Aviso de privacidad</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-gray" [routerLink]="['/']">Preguntas frecuentes</a>
          </li>
        </ul>
      </div>

      <div class="content-foo">
        <h4>Envíanos un mensaje</h4>
        <ul>
          <li><a href="">Términos y condiciones</a></li>
          <li><a href="">Políticas de devolución</a></li>
          <li><a href="">Facturación</a></li>
          <li><a href="">Aviso de provacidad</a></li>
          <li><a href="">Preguntas frecuentes</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
