

<footer class="footer footer-responsive">
  <div class="contenedor-footer contenedor-footer-responsive">
    <div class="row row-responsive">
      <div class="content-foo content-foo-responsive">
        <h4>Team Mototec</h4>
        <ul>
          <li><a href="tel:+523338115213">Llamanos</a></li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/contacto']">teammototec@yahoo.com</a>
          </li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/']">Preguntas frecuentes</a>
          </li>
        </ul>
      </div>
      <div class="content-foo content-foo-responsive">
        <h4>Estamos en contacto contigo</h4>
        <ul>
          <li><a class="logo-footer logo-footer-responsive" href="/inicio"><img class="logo" src="../../assets/LOGO TEAMMOTOTEC.png"></a></li>
        </ul>

      </div>
      <div class="content-foo content-foo-responsive">
        <h4>Políticas y terminos</h4>
        <ul>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/terminos']">Términos y condiciones</a>
          </li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/']">Políticas de devolución</a>
          </li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/']">Facturación</a>
          </li>
          <li class="nav-item nav-item-responsive" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-link-responsive text-gray" [routerLink]="['/privacidad']">Aviso de privacidad</a>
          </li>
        </ul>
      </div>

      <div class="content-foo content-foo-responsive">
        <h4>Síguenos</h4>
        <div class="social-links social-links-responsive">
          <a href="https://www.facebook.com/Team-Mototec-Mexico-240659485963697" target="_blank"><img class="facebook facebook-responsive" src="../../assets/Iconos/facebook.png"></a>
          <!--<a [routerLink]="['/']"><img class="whatsapp whatsapp-responsive" src="../../assets/Iconos/whatsapp.png"></a>-->
        </div>
      </div>

    </div>
  </div>
</footer>
