<section class="seccion seccion-responsive flex">
  <div class="tab">
    <button class="tablinks" (click)="openCity($event, 'roles')" id="defaultOpen">Roles</button>
    <button class="tablinks" (click)="openCity($event, 'usuarios')">Usuarios</button>
    <button class="tablinks" (click)="openCity($event, 'cuentas')">Cuentas</button>
    <button class="tablinks" (click)="openCity($event, 'productos')">Productos</button>
    <button class="tablinks" (click)="openCity($event, 'envios')">Envios</button>
    <button class="tablinks" (click)="openCity($event, 'anos')">Años</button>
    <button class="tablinks" (click)="openCity($event, 'marcas')">Marcas</button>
    <button class="tablinks" (click)="openCity($event, 'modelos')">Modelos</button>
    <button class="tablinks" (click)="openCity($event, 'vehiculos')">Vehiculos</button>
    <button class="tablinks" (click)="openCity($event, 'pagos')">Pagos</button>
    <button class="tablinks" (click)="openCity($event, 'logs')">Logs</button>
    <button class="tablinks" (click)="openCity($event, 'reportes')">Reportes</button>
  </div>

  <div id="roles" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Roles</h3>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of rol">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idRol}}</h4>
        <p>{{aux.nombre}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <!--<a class="elim elim-responsive" (click)="eliminarrol(producto.idRol)">Eliminar</a>-->
      </div>
    </div>
  </div>

  <div id="usuarios" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Usuarios</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarUsuario">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of usuario">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idUsuario}}</h4>
        <p>{{aux.nombre}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="bloquearusuario(aux.idUsuario)">Bloquear</a>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="desbloquearusuario(aux.idUsuario)">Desbloquear</a>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarusuario(aux.idUsuario)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="cuentas" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Cuentas</h3>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of cuenta">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idCuentas}}</h4>
        <p>{{aux.nombre}}</p>
        <input type="text" [placeholder]="aux.descripcion" (change)="cambiarCuenta($event.srcElement.value, aux.idCuentas)" />
      </div>
      <div class="eliminar eliminar-responsive">
        <!--<a class="elim elim-responsive" (click)="eliminarrol(producto.idRol)">Eliminar</a>-->
      </div>
    </div>
  </div>

  <div id="productos" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Producto</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarProd">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of producto">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idProducto}}</h4>
        <p>{{aux.nombreDeProducto}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="bloquearprod(aux.idProducto)">Bloquear</a>
        <a class="elim elim-responsive" (click)="desbloquearprod(aux.idProducto)">Desbloquear</a>
      </div>
      <div class="eliminar eliminar-responsive">
        <p><button class="w3-button morado" data-toggle="modal" data-target="#modificarProd" (click)="idProd(aux)">Modificar</button></p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarproducto(aux.idProducto)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="envios" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Envios</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarenvios">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of envio">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idEnvio}}</h4>
        <p>{{aux.estado}}</p>
        <input type="number" [placeholder]="aux.precio" (change)="cambiarenvio($event.srcElement.value, aux.idEnvio)" />
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarenvio(aux.idEnvio)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="anos" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Años</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregaranos">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of anos">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idAnos}}</h4>
        <p>{{aux.nombreDeAno}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminaranos(aux.idAnos)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="marcas" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Marcas</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarmarca">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of marca">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idMarca}}</h4>
        <p>{{aux.nombreDeMarca}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarmarca(aux.idMarca)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="modelos" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Modelos</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarmodelo">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of modelo">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idModelo}}</h4>
        <p>{{aux.nombreDeModelo}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarmodelo(aux.idModelo)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="vehiculos" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Vehiculos</h3>
      <p><button class="w3-button morado" data-toggle="modal" data-target="#agregarveh">Agregar</button></p>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of vehiculo">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idVehiculo}}</h4>
        <p>{{aux.nombreDeVehiculo}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <a class="elim elim-responsive" (click)="eliminarvehiculo(aux.idVehiculo)">Eliminar</a>
      </div>
    </div>
  </div>

  <div id="pagos" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Pagos</h3>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of transferencia">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idHistorial}}</h4>
        <a *ngIf="aux.clabe == 'transferencia'" target="_blank" href="{{aux.comprobacion}}">Ver Imagen de pago</a>
        <p>{{aux.fechaDeCreacion | date:'short'}}</p>
        <p>{{aux.clabe}}</p>
        <p>{{aux.status}}</p>
      </div>
      <div class="eliminar eliminar-responsive">
        <select (change)="changeValHistory($event.srcElement.value, aux.idHistorial)">
          <option *ngFor="let opt of opcionesHistory" [value]="opt.valor">
            {{opt.nombre}}
          </option>
        </select>
      </div>
      <div class="producto producto-responsive" [hidden]="+prod.nombreDeCarrito !== aux.idHistorial" *ngFor="let prod of carrito">
        <img *ngIf="prod.imageUrl === null" src="../../assets/productos/disco de freno.jpg" class="prod prod-responsive" />
        <img *ngIf="prod.imageUrl !== null" [src]="prod.imageUrl" class="prod prod-responsive" />
        <p class="precio precio-responsive">${{prod.subtotal}}</p>
        <p class="precio precio-responsive">{{prod.cantidad}}</p>
      </div>
    </div>
  </div>

  <div id="logs" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Logs</h3>
    </div>
    <div class="producto producto-responsive" *ngFor="let aux of log">
      <div class="nombreprod nombreprod-responsive">
        <h4>{{aux.idLog}}</h4>
        <p>
          el usuario con el id: {{aux.idLog}} modifico de la tabla: {{aux.tabla}} el campo: {{aux.campo}} en la fecha: {{aux.fechaDeModificacion | date: 'dd/MM/yyyy'}}
        </p>
      </div>
      <div class="eliminar eliminar-responsive">
        <!--<a class="elim elim-responsive" (click)="eliminarvehiculo(producto.idVehiculo)">Eliminar</a>-->
      </div>
    </div>
  </div>

  <div id="reportes" class="tabcontent">
    <div class="producto producto-responsive">
      <h3>Reportes</h3>
    </div>
    <div *ngIf="customerBarChartData">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="chartColors">
      </canvas>
    </div>
  </div>

  <div class="modal" id="modificarProd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select (change)="chooseUpdateField($event.srcElement.value)">
            <option *ngFor="let opt of opciones" [value]="opt.valor">
              {{opt.nombre}}
            </option>
          </select>
          <input type="text" (change)="cambiarValorProd($event.srcElement.value)" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="actualizarProd()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarProd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select (change)="changeAddProdVehi($event.srcElement.value)">
            <option *ngFor="let aux of vehiculo" [value]="aux.nombreDeVehiculo">{{aux.nombreDeVehiculo}}</option>
          </select>
          <select (change)="changeAddProdMod($event.srcElement.value)">
            <option *ngFor="let aux of modelo" [value]="aux.nombreDeModelo">{{aux.nombreDeModelo}}</option>
          </select>
          <select (change)="changeAddMarca($event.srcElement.value)">
            <option *ngFor="let aux of marca" [value]="aux.nombreDeMarca">{{aux.nombreDeMarca}}</option>
          </select>
          <select (change)="changeAddProdAnos($event.srcElement.value)">
            <option *ngFor="let aux of anos" [value]="aux.nombreDeAno">{{aux.nombreDeAno}}</option>
          </select>
          <input type="text" (change)="addProdValue($event.srcElement.value, 'NombreDeProducto')" placeholder="nombre de producto" />
          <input type="text" (change)="addProdValue($event.srcElement.value, 'Descripcion')" placeholder="descripcion de producto" />
          <input type="text" (change)="addProdValueInt($event.srcElement.value, 'Precio')" placeholder="precio de producto" />
          <input type="text" (change)="addProdValueInt($event.srcElement.value, 'Stock')" placeholder="stock de producto" />
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="argregarProducto()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addUserValue($event.srcElement.value, 'Correo')" placeholder="Correo" />
          <input type="text" (change)="addUserValue($event.srcElement.value, 'Contrasena')" placeholder="contraseña" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="AddUser()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarenvios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addEnviosValue($event.srcElement.value, 'Estado')" placeholder="Estado" />
          <input type="text" (change)="addEnviosValue($event.srcElement.value, 'Precio')" placeholder="Precio" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarEnvios()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregaranos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addAnosValue($event.srcElement.value, 'NombreDeAno')" placeholder="Ingresa Año" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarAnos()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarmarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addMarcaValue($event.srcElement.value, 'NombreDeMarca')" placeholder="Ingresa Marca" />
          <input type="text" (change)="addMarcaValue($event.srcElement.value, 'Descripcion')" placeholder="Descripción" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarMarca()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarmodelo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addModeloValue($event.srcElement.value, 'NombreDeModelo')" placeholder="Ingresa Modelo" />
          <input type="text" (change)="addModeloValue($event.srcElement.value, 'Descripcion')" placeholder="Descripción" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarModelo()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="agregarveh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 124px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" (change)="addVehiculoValue($event.srcElement.value, 'NombreDeVehiculo')" placeholder="Ingresa Vehiculo" />
          <input type="text" (change)="addVehiculoValue($event.srcElement.value, 'Descripcion')" placeholder="Descripción" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarVehiculo()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</section>
