
<h2 class="titulo titulo-responsive">{{producto.nombreDeProducto}}</h2>
<section class="contenedorproducto contenedorproducto-responsive">
  <div class="imagen imagen-responsive">
    <img *ngIf="producto.idImagen === null" src="../../assets/productos/disco de freno.jpg" alt="" class="imagen-producto" />
    <img *ngIf="producto.idImagen !== null" [src]="producto.idImagen" alt="" class="imagen-producto" />
  </div>
  <div class="info info-responsive">
    <div class="precio precio-responsive">
      <p>Precio</p>
      <h3>${{producto.precio}}.00</h3>
    </div>
    <div class="cantidad cantidad-responsive">
      <input type="number"
             placeholder="Cantidad" (change)="cambiarCant($event.srcElement.value)"/>
      <a class="addcarrito addcarrito-responsive" (click)="carrito(producto)">Agregar a carrito</a>
    </div>
    <div class="stock stock-responsive">
      <p>stock disponible</p>
    </div>
    <div class="favoritos favoritos-responsive">
      <select class="esta esta-responsive" (change)="filterProductos($event.srcElement.value)">
        <option selected="true" disabled="disabled"></option>
        <option *ngFor="let envio of envios" [value]="envio.precio">{{envio.estado}}</option>
      </select>
      <a class="addfavoritos addfavoritos-responsive" (click)="favoritos(producto)">Agregar a favoritos</a>
    </div>
    <div class="envio envio-responsive">
      <p>Calcular envío</p>
      <p>${{EnvioValue}}.00</p>
    </div>
  </div>
</section>

<section class="contenedorcaracteristicas contenedorcaracteristicas-responsive">
  <h2 class="titulo titulo-responsive">Características Principales</h2>
  <div class="contenedor-caracteristicas contenedor-caracteristicas-responsive">
    <table>
      <tr>
        <th>Marca</th>
        <td>{{producto.idMarcaText}}</td>
      </tr>
      <tr>
        <th>Modelo</th>
        <td>{{producto.idModeloText}}</td>
      </tr>
    </table>
  </div>
</section>

<section class="contenedordescripcion contenedordescripcion-responsive">
  <h2 class="titulo titulo-responsive">Descripción</h2>
  <div class="contenedor-descripcion contenedor-descripcion-responsive">
    <div class="texto-descripcion texto-descripcion-responsive">
      <p>{{producto.descripcion}}</p>
    </div>
  </div>
</section>


<div class="contenedor-prodsimilares contenedor-prodsimilares-responsive">
  <h2 class="titulo titulo-responsive">Productos similares</h2>
  <ul>
    <li *ngFor="let producto of productosAux">
      <a *ngIf="producto.idImagen == null" class="imgcategoria imgcategoria-responsive" [routerLink]="['/producto', producto.idProducto]"><img class="imgprod imgprod-responsive" src="../../assets/productos/disco de freno.jpg"></a>
      <a *ngIf="producto.idImagen != null" class="imgcategoria imgcategoria-responsive" [routerLink]="['/producto', producto.idProducto]"><img class="imgprod imgprod-responsive" [src]="producto.idImagen"></a>
    </li>
  </ul>
</div>
